<tr id="<%= client.token %>">
	<td><%= client.source_created_at.strftime('%d/%m/%Y %k:%M') %></td>
	<td><%= client.full_name %></td>
	<td><%= client.company_name %></td>
	<td><%= client.email %></td>
	<td><%= client.source_client_id %></td>
	<td><%= client.client_source.display_name %></td>
	<td>
		<a class="modal-link btn-action" data-toggle="modal" data-target="#client-modal" data-path="<%= client_path(client.token) %>">
			<span class="glyphicon glyphicon-eye-open"></span>
		</a>
		<a href="<%= edit_client_path(client.token) %>" class="btn-action">
			<span class="glyphicon glyphicon-edit"></span>
		</a>
	</td>
</tr>