<% provide(:title, t('.h1')) %>
<h1><%= t('.h1') %></h1>

<div class="panel panel-white">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="col-xs-offset-3"><p><%= t('clients.new.form_intro') %></p></div>

			<%= simple_form_for @client, :url => client_path(@client.token) do |f| %>
				<%= f.input :fname, label: t('clients.new.form_label_fname'), autofocus: true %>
				<%= f.input :lname, label: t('clients.new.form_label_lname') %>
				<%= f.input :email, label: t('clients.new.form_label_email') %>
				<%= f.input :company_name, label: t('clients.new.form_label_company_name') %>
				<%= f.input :source_client_id, label: t('clients.new.form_label_source_client_id'), placeholder: t('clients.new.form_placeholder_source_client_id') %>
				<div class="col-xs-offset-3">
					<div class="col-xs-4 no-padding-left no-padding-right">
						<a href="<%= clients_path %>" class="btn btn-default btn-block col-xs-4"><%= t('.form_button_cancel') %></a>
					</div>
					<div class="col-xs-8 no-padding-right">
						<%= f.button :submit, t('.form_button_submit'), :class => 'btn btn-primary btn-block' %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>