<h1><%= @customer.full_name %></h1>
<h2><%= t('.title_customer') %></h2>

<div class="row">
	<div class="col-md-2 col-xs-3"><strong class="pull-right"><%= t('.item_description_customer_gc_id') %></strong></div>
	<div class="col-md-10 col-xs-9"><span><%= @customer.gc_id %></span></div>
</div>
<div class="row">
	<div class="col-md-2 col-xs-3"><strong class="pull-right"><%= t('.item_description_customer_name') %></strong></div>
	<div class="col-md-10 col-xs-9"><span><%= @customer.full_name %></span></div>
</div>
<% if !@customer.email.blank? %>
	<div class="row">
		<div class="col-md-2 col-xs-3"><strong class="pull-right"><%= t('.item_description_customer_email') %></strong></div>
		<div class="col-md-10 col-xs-9"><span><%= @customer.email %></span></div>
	</div>
<% end %>
<% if !@customer.address_line1.blank? %>
	<div class="row">
		<div class="col-md-2 col-xs-3"><strong class="pull-right"><%= t('.item_description_customer_address') %></strong></div>
		<div class="col-md-10 col-xs-9">
			<% if !@customer.address_line1.blank? %>
				<span><%= @customer.address_line1 %></span><br/>
			<% end %>
			<% if !@customer.address_line2.blank? %>
				<span><%= @customer.address_line2 %></span><br/>
			<% end %>
			<% if !@customer.address_line3.blank? %>
				<span><%= @customer.address_line3 %></span><br/>
			<% end %>
			<% if !@customer.postal_code.blank? or !@customer.city.blank? %>
				<span><%= (@customer.postal_code.blank? ? '' : @customer.postal_code + ' ') + (@customer.city) %></span><br/>
			<% end %>
		</div>
	</div>
<% end %>
<% if !@customer.country_code.blank? %>
	<div class="row">
		<div class="col-md-2 col-xs-3"><strong class="pull-right"><%= t('.item_description_customer_country') %></strong></div>
		<div class="col-md-10 col-xs-9">
			<span><%= @customer.country_code %></span>
			<span><%= image_tag('blank.png', :class => 'flag flag-'+@customer.country_code.downcase) %></span>
		</div>
	</div>
<% end %>

<h2><%= t('.title_mandates') %></h2>

<% if @customer.mandates.any? %>
	<table class="table">
		<th><%= t('reporting.mandates.table_title_mandate_id') %></th>
		<th><%= t('reporting.mandates.table_title_creation_date') %></th>
		<th><%= t('reporting.mandates.table_title_mandate_reference') %></th>
		<th><%= t('reporting.mandates.table_title_mandate_scheme') %></th>
		<th><%= t('reporting.mandates.table_title_mandate_status') %></th>
		<th></th>
		<%= render partial: 'customers/mandate', collection: @customer.mandates.order('gc_created_at desc') %>
	</table>
<% else %>
	<p><%= t('reporting.mandates.no_mandates') %></p>
<% end %>

<h2><%= t('.title_payments') %></h2>

<% if @payments.any? %>
	<table class="table">
		<th><%= t('reporting.payments.table_title_payment_date') %></th>
		<th><%= t('reporting.payments.table_title_description') %></th>
		<th><%= t('reporting.payments.table_title_charge_date') %></th>
		<th><%= t('reporting.payments.table_title_amount') %></th>
		<th><%= t('reporting.payments.table_title_reference') %></th>
		<th><%= t('reporting.payments.table_title_status') %></th>
		<th><%= t('reporting.payments.table_title_error_cause') %></th>
		<%= render partial: 'customers/payment', collection: @payments %>
	</table>
	<%= will_paginate @payments %>
<% else %>
	<p><%= t('reporting.payments.no_payments') %></p>
<% end %>