<tr>
	<td><%= payment.gc_created_at.strftime('%d/%m/%Y  %k:%M') %></td>
	<td>
		<a href="<%= customer_path(payment.customer) %>" target="_blank">
			<%= payment.customer.full_name %><br/>
			<%= payment.customer.email %>
		</a>
	</td>
	<td><%= payment.description %></td>
	<td><%= payment.charge_date.strftime('%d/%m/%Y') %></td>
	<td><%= number_to_currency(payment.amount/100.0, precision: 2, unit: currency_symbol(payment.currency)) %></td>
	<td><%= payment.reference %></td>
	<td><%= t('gocardless.payment.status.' + payment.status) %></td>
	<td><%= t('gocardless.payment.cause.' + payment.failure_cause) unless payment.failure_cause.empty? %></td>
</tr>