<div id="ajax-alerts"></div>
<% provide(:title, t('.h1')) %>
<div class="row">
	<div class="col-sm-8"><h1><%= t('.h1') %></h1></div>
	<div class="col-sm-4">
		<div class="pull-right">
			<a href="<%= new_payment_path %>" class='btn pop h1-btn' %>
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				<%= t('.create_payment_button') %>
			</a>
			<a href="<%= reporting_payments_path(format: :csv, time_filter: @time_filter, currency_filter: @currency_filter, status_filter: @status_filter) %>" class='btn pop h1-btn' %>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<%= t('.link_export') %>
			</a>
		</div>
	</div>
</div>

<% if !current_user.recent_update? %>
	<%= render partial: 'reporting/loading' %>
<% end %>

<form action="<%= reporting_payments_path %>" method="get" class="form-inline">
	<div class="form-group">
		<p class='form-control-static'><%= t('filters.time.label') %></p>
	</div>
	<div class="form-group">
		<%= select_tag(:time_filter, options_for_select(Payment.time_filters, @time_filter), class: 'form-control') %>
	</div>
	<div class="form-group">
		<p class='form-control-static'><%= t('filters.currency.label') %></p>
	</div>
	<div class="form-group">
		<%= select_tag(:currency_filter, options_for_select(Payment.currency_filters, @currency_filter), class: 'form-control') %>
	</div>
	<div class="form-group">
		<p class='form-control-static'><%= t('filters.payment_status.label') %></p>
	</div>
	<div class="form-group">
		<%= select_tag(:status_filter, options_for_select(Payment.status_filters, @status_filter), class: 'form-control') %>
	</div>
	<button type="submit" class="btn btn-primary"><%= t('filters.form.submit') %></button>
</form>

<table class="table" id="results">
	<th><%= t('.table_title_payment_date') %></th>
	<th><%= t('.table_title_customer') %></th>
	<th><%= t('.table_title_description') %></th>
	<th><%= t('.table_title_charge_date') %></th>
	<th><%= t('.table_title_amount') %></th>
	<th><%= t('.table_title_reference') %></th>
	<th><%= t('.table_title_status') %></th>
	<th><%= t('.table_title_error_cause') %></th>
	<th></th>
	<% if !@payments.nil? and @payments.any? %>
		<%= render partial: 'reporting/payment', collection: @payments %>
	<% end %>
</table>

<% if !@payments.nil? and @payments.any? %>
	<div id="infinite-scrolling">
		<%= will_paginate @payments %>
	</div>
<% else %>
	<p><%= t('.no_payments') %></p>
<% end %>

<%= render partial: 'clients/modal' %>