<% provide(:title, t('.h1')) %>
<h1><%= t('.h1') %></h1>
<p><%= t('.fee_disclaimer') %></p>

<% if !current_user.recent_update? %>
	<%= render partial: 'reporting/loading' %>
<% end %>
<% if @payouts.any? %>
	<table class="table">
		<th><%= t('.table_title_payout_date') %></th>
		<th><%= t('.table_title_amount') %></th>
		<th><%= t('.table_title_fees') %></th>
		<th><%= t('.table_title_status') %></th>
		<th><%= t('.table_title_reference') %></th>
		<th></th>
		<%= render partial: 'reporting/payout', collection: @payouts %>
	</table>
	<%= will_paginate @payouts %>
<% else %>
	<p><%= t('.no_payouts') %></p>
<% end %>