<% if payment_action.can_be_cancelled? and !@cancelled %>
	<a href="" data-role="ajax-get" data-target="<%= payments_cancel_path(payment_id: payment_action.gc_id) %>">
		<span class="glyphicon glyphicon-remove negative" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="<%= t('reporting.payments.cancel_payment') %>"></span>
	</a>
<% end %>

<% if payment_action.can_be_retried? and !@retried %>
	<a href="" data-role="ajax-get" data-target="<%= payments_retry_path(payment_id: payment_action.gc_id) %>">
		<span class="glyphicon glyphicon-repeat positive" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="<%= t('reporting.payments.retry_payment') %>"></span>
	</a>
<% end %>

<% if payment_action.can_be_refunded? and !@refunded %>
	<a href="" data-role="refund-payment" data-target="<%= payments_refund_path(payment_id: payment_action.gc_id) %>">
		<span class="glyphicon glyphicon-share-alt positive" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="<%= t('reporting.payments.refund_payment') %>"></span>
	</a>
<% end %>