<h1><%= t('emails.mandate_request.title', org_name: @client.organisation.display_name) %></h1>

<p><%= t('emails.mandate_request.salutations', name: @client.full_name) %></p>

<p><%= t('emails.mandate_request.explanation', org_name: @client.organisation.display_name) %></p>

<% if !@client.mandate_request_description.blank? %>
	<p><%= t('emails.mandate_request.organisation_comment') + @client.mandate_request_description %></p>
<% end %>

<p><%= t('emails.mandate_request.create_mandate') %></p>
<%= link_to t('emails.mandate_request.create_mandate_cta'), authorisations_new_url(@client.organisation.gc_id, token: @client.token), class: 'btn btn-primary btn-centered' %>

<p>
	<%= t('emails.mandate_request.thanks') %><br/>
	<%= t('emails.mandate_request.signature', org_name: @client.organisation.display_name) %>
</p>