<% provide(:title, t('.h1') + ' - ' + @payout.reference) %>
<div class="row">
	<div class="col-sm-8"><h1><%= t('.h1') %> <small><%= @payout.reference %></small></h1></div>
	<div class="col-sm-4">
		<div class="pull-right">
			<a href="payouts_show_path(@payout.gc_id, format: :csv) %>" class='btn pop h1-btn' %>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<%= t('.link_export') %>
			</a>
		</div>
	</div>
</div>
<p><%= t('payouts.index.fee_disclaimer') %></p>

<div class="panel panel-default">
	<dl class="dl-horizontal">
		<dt><%= t('.payout_date') %></dt>
		<dd><%= @payout.gc_created_at.strftime('%d/%m/%Y') %></dd>
		<dt><%= t('.payout_amount') %></dt>
		<dd><%= number_to_currency(@payout.amount/100.0, precision: 2, unit: currency_symbol(@payout.currency)) %></dd>
		<dt><%= t('.payout_fees') %></dt>
		<dd><%= number_to_currency(@payout.sum_fees/100.0, precision: 2, unit: currency_symbol(@payout.currency)) %></dd>
	</dl>
</div>

<% if !current_user.recent_update? %>
	<%= render partial: 'layouts/loading' %>
<% end %>
<table class="table" id="results">
	<th><%= t('.table_title_type') %></th>
	<th><%= t('.table_title_action') %></th>
	<th><%= t('.table_title_charge_date') %></th>
	<th><%= t('.table_title_customer') %></th>
	<th><%= t('.table_title_credit') %></th>
	<th><%= t('.table_title_debit') %></th>
	<th><%= t('.table_title_fees') %></th>
	<%= render partial: 'payouts/payout_event', collection: @events %>
</table>
<div id="infinite-scrolling">
	<%= will_paginate @events %>
</div>

<%= render partial: 'clients/modal' %>