<ul class="menu accordion-menu">
    <li><a href="<%= clients_path %>"><span class="menu-icon glyphicon glyphicon-user"></span><p><%= t('header.link_clients') %></p></a></li>
    <li><a href="<%= mandates_path %>"><span class="menu-icon glyphicon glyphicon-file"></span><p><%= t('header.link_mandates') %></p></a></li>
    <li><a href="<%= payments_path %>"><span class="menu-icon glyphicon glyphicon-eur"></span><p><%= t('header.link_payments') %></p></a></li>
    <li><a href="<%= payouts_path %>"><span class="menu-icon glyphicon glyphicon-download-alt"></span><p><%= t('header.link_payouts') %></p></a></li>
    <li><a href="<%= account_index_path %>"><span class="menu-icon glyphicon glyphicon-cog"></span><p><%= t('header.link_account') %></p></a></li>
</ul>